@import url("https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://db.onlinewebfonts.com/c/736cf5b08b01082a3645e14038868e20?family=Krungthep");

@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-orange {
  --color-primary: #ff8c00;
  --color-secondary: #8402ff;
  --color-bg-primary: #050c1a;
  --color-text-primary: #e3fff4;
}

.theme-red {
  --color-primary: #ff0062;
  --color-secondary: #00ffb3;
  --color-bg-primary: #050c1a;
  --color-text-primary: #e3fff4;
}

.theme-blue {
  --color-primary: #00bbff;
  --color-secondary: #8402ff;
  --color-bg-primary: #050c1a;
  --color-text-primary: #e3fff4;
}

.theme-green {
  --color-primary: #00ffb3;
  --color-secondary: #8402ff;
  --color-bg-primary: #050c1a;
  --color-text-primary: #e3fff4;
}

.theme-purple {
  --color-primary: #8402ff;
  --color-secondary: #00ffb3;
  --color-bg-primary: #050c1a;
  --color-text-primary: #e3fff4;
}

@layer utilities {
  .bg-bg-primary {
    background-color: var(--color-bg-primary);
  }

  .text-color-text-primary {
    color: var(--color-text-primary);
  }

  .text-color-text-secondary {
    color: var(--color-secondary);
  }

  .bg-primary {
    background-color: var(--color-primary);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }
}
